<%= form_with(model: item, class:'form') do |form| %>
  <% if item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: ['label'] %>
    <%= form.text_field :name, class: ['input','is-medium']%>
  </div>

  <div>
    <%= form.label :item_type, class: ['label'] %>
    <%= form.select(:item_type, Item::VALID_TYPES.map{|t| [t.capitalize, t]}, {}, {class: ['select','is-medium']}) %>
  </div>

  <div>
    <%= form.label :instrument, class: ['label'] %>
	<%= form.collection_select(:instrument_id, Instrument.order(:name), :id, :name, {}, {class:['select', 'is-medium']}) %>
  </div>

  <div>
    <%= form.label :description, class: ['label'] %>
    <%= form.text_area :description, class: ['textarea', 'is-medium'] %>
  </div>

  <div>
    <label class="checkbox">
        <%= form.check_box :active, class: ['checkbox'] %>
        Active?
    </label>
  </div>
  <br />

  <div>
    <%= form.submit class: ['button','is-info'] %>
  </div>
<% end %>
