<table class="table">
    <tr>
        <td>Name:</td>
        <td><%= item.name %></td>
    </tr>
    <tr>
        <td>Type:</td>
        <td><%= item.item_type %></td>
    </tr>
    <tr>
        <td>Instrument:</td>
        <td><%= item.instrument %></td>
    </tr>
    <tr>
        <td>Description:</td>
        <td><%= item.description %></td>
    </tr>
    <tr>
        <td>Active:</td>
        <td><%= item.active %></td>
    </tr>
</table>
