<!DOCTYPE html>
<html>
  <head>
    <title>PracticeTracker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
	<%= javascript_include_tag "application" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>

  <div class="container">
  <nav class="navbar is-primary" style="text-align:center">
      <div class="navbar-start">
  <%= link_to 'Home', '/', class: 'navbar-item' %>
  <%= link_to 'Items', '/items', class: 'navbar-item' %>
  <%= link_to 'Practices', '/practices' , class: 'navbar-item'%>
  <%= link_to 'Report', '/practices/report', class: 'navbar-item' %>
      </div>
  </nav>
  </div>

      <section class="section">
      <div class="container">
    <%= yield %>
      </div>
      </section>
  </body>
</html>
